<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        include includes/header.pug
        .content
            h1 Pagina article.pug
            p!= message
        include includes/footer.pug